@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --bodyBackground: #f2f4f8;
  --successGreen: #00ff84;
  --dangerRed: #ffc0c7;
  --questionBG: #e4e8ee;
  --fontPrimary: #002333;
  --active: #2dbf64;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fontPrimary);
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--bodyBackground);
}

.login-button-text:hover{
  color: #e4e8ee;
}

